<!DOCTYPE html>
<html>
    <head><title>Welcome to Ansible Class on {{ ansible_date_time }}</title></head>
    <body>
        <h1>My name is {{ name }} and I am running on {{ ansible_hostname }}</h1>
    </body>
</html>
